{% extends "layouts/home.html" %}
<!---->{% block title %} Our blog {% endblock title %}<!---->
{% block content %}

<div class="inner-banner-area">
  <div id="particles-js"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="title"><span>Blog</span></h1>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-8">
        <div class="row justify-content-center mb_max_lg_50">
          <div class="col-12"></div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="widgets-box">
          <div class="sidebar-head bg-2"><span>ប្រកាសថ្មីៗ</span></div>
          <div class="sidebar-text">
            <ul class="sidebar-post"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
