{% extends "layouts/home.html" %}<!---->{% block title %} សូមស្វាគមន៍មកកាន់ ក
វេទិការកលុយបដិវត្តន៍ {% endblock title %}<!---->
{% block content %}<!---->
<div class="banner-area">
  <div id="particles-js"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="title py-5">វេទិការកលុយបដិវត្តន៍</h1>
        <p class="pb-5">
          ក្រុមហ៊ុនដែលអាចទុកចិត្តបាន និងប្រកបដោយវិជ្ជាជីវៈ
          ដែលអ្នកអាចវិនិយោគប្រាក់របស់អ្នក ហើយយើងនឹងប្រើប្រាស់វា
          ហើយផ្តល់ជូនអ្នកនូវផលចំណេញដ៏ល្អបំផុតនៃការវិនិយោគរបស់អ្នក។
        </p>
        <a href="/register/" class="btn btn-default website-color mt-1 mb-1"
          >ចុះ​ឈ្មោះ</a
        >
      </div>
      <div class="col-lg-6">
        <div class="coin_main">
          <img
            src="/assets/images/frontend/banner/5e664b3b4f1151583762235.png"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright">
    <a
      href="https://www.tradingview.com/markets/"
      rel="noopener"
      target="_blank"
      ><span class="blue-text">ទីផ្សារ</span></a
    >
    ដោយ TradingView
  </div>
  <script
    type="text/javascript"
    src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
    async
  >
    {
        "symbols": [{
            "proName": "FOREXCOM:SPXUSD",
            "title": "S&P 500"
        }, {
            "proName": "FOREXCOM:NSXUSD",
            "title": "US 100"
        }, {
            "proName": "FX_IDC:EURUSD",
            "title": "EUR/USD"
        }, {
            "proName": "BITSTAMP:BTCUSD",
            "title": "Bitcoin"
        }, {
            "proName": "BITSTAMP:ETHUSD",
            "title": "Ethereum"
        }],
        "showSymbolLogo": true,
        "colorTheme": "light",
        "isTransparent": false,
        "displayMode": "adaptive",
        "locale": "en"
    }
  </script>
</div>
<!-- TradingView Widget END -->
<div class="feature-section">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-8 text-center">
        <div class="section-header">
          <h2 class="title">លក្ខណៈពិសេសរបស់យើង។</h2>
          <p>
            យើងនឹងប្រើប្រាស់ប្រាក់របស់អ្នកដែលផ្តល់នូវប្រភពនៃប្រាក់ចំណូលខ្ពស់
            ខណៈពេលដែលកាត់បន្ថយលទ្ធភាពនៃហានិភ័យណាមួយតាមរបៀបដែលមានសុវត្ថិភាពបំផុត។
          </p>
        </div>
      </div>
    </div>
    <div class="feature-wrapper d-flex flex-wrap">
      <div class="feature-area two">
        <div class="feature-item">
          <h5 class="subtitle">អាចទុកចិត្តបាន។</h5>
          <p>
            មនុស្សមួយចំនួនធំជឿជាក់លើយើង។ យើងធ្វើការឥតឈប់ឈរលើការកែលម្អប្រព័ន្ធ
            និងកម្រិតសុវត្ថិភាពរបស់យើង ដើម្បីកាត់បន្ថយហានិភ័យដែលអាចកើតមាន។
          </p>
        </div>
        <div class="feature-item">
          <h5 class="subtitle">Comodo SSL</h5>
          <p>
            Comodo Essential-SSL Security encryption
            បញ្ជាក់ថាខ្លឹមសារដែលបានបង្ហាញគឺពិតប្រាកដ និងស្របច្បាប់។
          </p>
        </div>
        <div class="feature-item">
          <h5 class="subtitle">ក្រុមហ៊ុនដែលបានចុះឈ្មោះ</h5>
          <p>
            យើង​ជា​ក្រុមហ៊ុន​ដែល​មាន​ការ​បញ្ជាក់​ដែល​ធ្វើ​សកម្មភាព​ផ្លូវ​ច្បាប់​យ៉ាង​ពិត​ប្រាកដ​ក្នុង​វិស័យ​ច្បាប់។
            យើងមានការបញ្ជាក់ និងសុវត្ថិភាព។
          </p>
        </div>
      </div>
      <div class="feature-thumb pos-rel">
        <img src="/assets/templates/basic/images/feature.png" alt="feature" />

        <div class="coin-3">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-3 two">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-3 three">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-4">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-4 two">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-4 three">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-4 four">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>

        <div class="coin-3 bela two">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-3 bela three">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-4 bela">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-4 bela two">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-4 bela three">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-4 bela four">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
      </div>
      <div class="feature-area">
        <div class="feature-item">
          <h5 class="subtitle">ការដកប្រាក់រហ័ស</h5>
          <p>
            ការដកថយទាំងអស់របស់យើងត្រូវបានព្យាបាលដោយឯកឯងនៅពេលដែលបានស្នើសុំ។
            ការដកប្រាក់របស់យើងមានដែនកំណត់អតិបរមាខ្ពស់។
          </p>
        </div>
        <div class="feature-item">
          <h5 class="subtitle">ការការពារខ្លាំង</h5>
          <p>
            សុវត្ថិភាពអតិថិជនគឺជាអាទិភាពដ៏ធំមួយសម្រាប់ពួកយើង។
            យើងធ្វើការឥតឈប់ឈរលើការកែលម្អប្រព័ន្ធ និងកម្រិតនៃសុវត្ថិភាពរបស់យើង
            ដើម្បីកាត់បន្ថយការណាមួយ។ ហានិភ័យដែលអាចកើតមាន។
          </p>
        </div>
        <div class="feature-item">
          <h5 class="subtitle">គេហទំព័រការពារ</h5>
          <p>
            យើងកំពុងប្រើប្រាស់អ្នកផ្តល់ការការពារ និងកាត់បន្ថយ DDoS
            ដែលមានបទពិសោធន៍ វិជ្ជាជីវៈ និងគួរឱ្យទុកចិត្តបំផុតមួយ។
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sec-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec"></div>
      </div>
    </div>
  </div>
</div>
<div class="counter-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <div class="section-header mb-5">
          <h2 class="title">ស្ថិតិរបស់យើង។</h2>
          <p class="section-para">សូមក្រឡេកមើលស្ថិតិអ្នកប្រើប្រាស់របស់យើង។</p>
        </div>
      </div>
    </div>

    <div class="counter-area">
      <div class="counter-wrapper">
        <div class="counter-item">
          <div class="counter-thumb bg-4">
            <i class="fab fa-stripe"></i>
          </div>
          <div class="counter-content">
            <div class="odo-area">
              <h3 class="odo-title odometer" data-odometer-final="204600800.08">
                5,000
              </h3>
            </div>
            <p>ប្រាក់បញ្ញើសរុប</p>
          </div>
        </div>
        <div class="counter-item">
          <div class="counter-thumb bg-4">
            <i class="fas fa-university"></i>
          </div>
          <div class="counter-content">
            <div class="odo-area">
              <h3 class="odo-title odometer" data-odometer-final="557576114.75">
                2,000
              </h3>
            </div>
            <p>ការដកប្រាក់សរុប</p>
          </div>
        </div>
        <div class="counter-item">
          <div class="counter-thumb bg-4">
            <i class="fas fa-user-friends"></i>
          </div>
          <div class="counter-content">
            <div class="odo-area">
              <h3 class="odo-title odometer" data-odometer-final="343353">
                500
              </h3>
            </div>
            <p>អ្នកប្រើប្រាស់សរុប</p>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
<div class="sec-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec"></div>
      </div>
    </div>
  </div>
</div>

<div class="get-profit-section pos-rel">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-header">
          <h2 class="title">វិធីដើម្បីទទួលបានប្រាក់ចំណេញ។</h2>
          <p class="section-para">
            យើងប្រើប្រាស់លុយរបស់អ្នក និងផ្តល់ប្រភពចំណូលខ្ពស់។
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-30-none">
      <div class="col-md-6 col-xl-3">
        <div class="profit-item">
          <div class="profit-thumb">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </div>
          <div class="profit-content">
            <h4 class="subtitle">ធ្វើផែនការ</h4>
            <p>
              ធ្វើការសម្រេចចិត្តលើផែនការដែលអ្នកចូលចិត្ត
              ហើយគិតថាជាផលចំណេញច្រើនបំផុត។
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="profit-item">
          <div class="profit-thumb">
            <i class="fas fa-id-card"></i>
          </div>
          <div class="profit-content">
            <h4 class="subtitle">បង្កើតគណនី</h4>
            <p>
              បង្កើតទម្រង់អ្នកប្រើប្រាស់សម្រាប់ខ្លួនអ្នកដោយប្រើជម្រើសចុះឈ្មោះ។
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="profit-item">
          <div class="profit-thumb">
            <i class="far fa-images"></i>
          </div>
          <div class="profit-content">
            <h4 class="subtitle">ជ្រើសរើសផែនការ</h4>
            <p>ជ្រើសរើសគម្រោងពីបញ្ជីដែលអ្នកចូលចិត្ត ហើយចាប់ផ្តើម។</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="profit-item">
          <div class="profit-thumb">
            <i class="fab fa-hornbill"></i>
          </div>
          <div class="profit-content">
            <h4 class="subtitle">ទទួលបានប្រាក់ចំណេញ</h4>
            <p>ចាំ​យើង​យក​លុយ​មក​ប្រើ ហើយ​យក​ចំណេញ​មក​វិញ។</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sec-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec"></div>
      </div>
    </div>
  </div>
</div>
<div class="profit-calc">
  <div class="shape"></div>
  <div
    class="circle-2"
    data-paroller-factor="-0.30"
    data-paroller-factor-lg="0.60"
    data-paroller-type="foreground"
    data-paroller-direction="horizontal"
  >
    <img src="/assets/templates/basic/images/animation/08.png" alt="shape" />
  </div>
  <div
    class="circle-2 five"
    data-paroller-factor="-0.10"
    data-paroller-factor-lg="0.30"
    data-paroller-type="foreground"
    data-paroller-direction="horizontal"
  >
    <img src="/assets/templates/basic/images/animation/05.png" alt="shape" />
  </div>
  <div class="elepsis">
    <img src="/assets/templates/basic/images/footer/elepsis.png" alt="profit" />
  </div>
  <div class="man-coin">
    <img
      src="/assets/templates/basic/images/footer/man-coin.png"
      alt="profit"
    />
  </div>
  <div class="coin-only">
    <img
      src="/assets/templates/basic/images/footer/profit-coin.png"
      alt="profit"
    />
  </div>
  <div class="man-only">
    <img
      src="/assets/templates/basic/images/footer/profit-man.png"
      alt="profit"
    />
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <div class="section-header mb-5">
          <h2 class="title">កម្មវិធីបម្លែងរូបិយប័ណ្ណ</h2>
          <p class="section-para">
            នេះ។ {{ domain }}
            ឧបករណ៍បំលែងរូបិយប័ណ្ណជួយអ្នកក្នុងការបំប្លែងរូបិយប័ណ្ណគ្រីបតូទៅជារូបិយប័ណ្ណក្នុងស្រុករបស់អ្នក
            និងច្រាសមកវិញ។
          </p>
        </div>
      </div>
    </div>

    <!-- Crypto Converter ⚡ Widget -->
    <crypto-converter-widget
      shadow
      symbol
      live
      background-color="#383a59"
      border-radius="1.50rem"
      fiat="united-states-dollar"
      crypto="bitcoin"
      amount="1"
      font-family="inherit"
      decimal-places="2"
    ></crypto-converter-widget
    ><a href="https://currencyrate.today/" target="_blank" rel="noopener"
      >CurrencyRate.Today</a
    >
    <script
      async
      src="https://cdn.jsdelivr.net/gh/dejurin/crypto-converter-widget@1.5.2/dist/latest.min.js"
    ></script>
    <!-- /Crypto Converter ⚡ Widget -->
  </div>
</div>

<div class="sec-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec"></div>
      </div>
    </div>
  </div>
</div>

<section class="investment-plan-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <div class="section-header mb-5">
          <h2 class="title">ផែនការវិនិយោគល្អបំផុត</h2>
          <p class="section-para">
            សូមក្រឡេកមើលផែនការវិនិយោគដ៏ល្អបំផុតរបស់យើង
            ដែលអ្នកនឹងទទួលបានប្រាក់ចំណេញល្អបំផុត។
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="plan-area">
          <div class="plan-item">
            <div class="plan_name">ផែនការចាប់ផ្តើម</div>
            <div class="plan_day">20 %</div>
            <div class="plan_pr">ប្រចាំថ្ងៃ / 1 ដង</div>

            <div>
              <ul>
                <li>
                  <span class="badge badge-success">ដើមទុននឹងត្រលប់មកវិញ</span>
                </li>
                <li>ការគាំទ្រ 24/7</li>
              </ul>
            </div>

            <div class="plan_min">
              នាទី 100 ដុល្លារ <span>អតិបរមា៖ ៩៩៩ ដុល្លារ</span>
            </div>

            <a
              href="#"
              data-toggle="modal"
              data-target="#depoModal"
              data-resource='{"id":1,"name":"Beginner plan","minimum":"100","maximum":"1000","fixed_amount":"0","interest":"5","interest_status":"1","times":"24","status":"1","featured":"1","capital_back_status":"1","lifetime_status":"0","repeat_time":"1","created_at":"2021-01-08T18:29:20.000000Z","updated_at":"2021-09-18T15:41:21.000000Z"}'
              class="btn btn-primary investButton"
              >វិនិយោគឥឡូវនេះ</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="plan-area">
          <div class="plan-item">
            <div class="plan_name">ផែនការវិជ្ជាជីវៈ</div>
            <div class="plan_day">40%</div>
            <div class="plan_pr">3 ថ្ងៃ / 1 ដង</div>

            <div>
              <ul>
                <li>
                  <span class="badge badge-success">ដើមទុននឹងត្រលប់មកវិញ</span>
                </li>
                <li>ការគាំទ្រ 24/7</li>
              </ul>
            </div>

            <div class="plan_min">
              នាទី ១០០០ ដុល្លារ <span>អតិបរមា៖ ៤៩៩៩ ដុល្លារ</span>
            </div>

            <a
              href="#"
              data-toggle="modal"
              data-target="#depoModal"
              data-resource='{"id":2,"name":"Amateur plan","minimum":"1000","maximum":"5000","fixed_amount":"0","interest":"10","interest_status":"1","times":"72","status":"1","featured":"1","capital_back_status":"1","lifetime_status":"0","repeat_time":"1","created_at":"2021-01-08T18:31:40.000000Z","updated_at":"2021-09-05T08:38:12.000000Z"}'
              class="btn btn-primary investButton"
              >វិនិយោគឥឡូវនេះ</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="plan-area">
          <div class="plan-item">
            <div class="plan_name">ផែនការអ្នកជំនាញ</div>
            <div class="plan_day">15 %</div>
            <div class="plan_pr">60 ថ្ងៃ។ / 1 ដង</div>

            <div>
              <ul>
                <li>
                  <span class="badge badge-success">ដើមទុននឹងត្រលប់មកវិញ</span>
                </li>
                <li>ការគាំទ្រ 24/7</li>
              </ul>
            </div>

            <div class="plan_min">
              នាទី ៥០០០ ដុល្លារ <span>អតិបរមា៖ គ្មានដែនកំណត់</span>
            </div>

            <a
              href="#"
              data-toggle="modal"
              data-target="#depoModal"
              data-resource='{"id":3,"name":"Advance plan","minimum":"5000","maximum":"10000","fixed_amount":"0","interest":"15","interest_status":"1","times":"240","status":"1","featured":"1","capital_back_status":"1","lifetime_status":"0","repeat_time":"1","created_at":"2021-01-27T12:09:50.000000Z","updated_at":"2021-09-05T08:39:01.000000Z"}'
              class="btn btn-primary investButton"
              >វិនិយោគឥឡូវនេះ</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="sec-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec"></div>
      </div>
    </div>
  </div>
</div>

<section class="padding feature-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <div class="section-header mb-5">
          <h2 class="title">ហេតុផលជ្រើសរើសយើង</h2>
          <p class="section-para">
            គោលដៅរបស់យើងគឺប្រើប្រាស់ប្រាក់វិនិយោគរបស់យើង
            និងផ្តល់នូវប្រភពនៃប្រាក់ចំណូលខ្ពស់សម្រាប់ពួកគេ
            ខណៈពេលដែលកាត់បន្ថយលទ្ធភាពនៃហានិភ័យណាមួយ។
          </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mb-30-none">
      <div class="col-md-6 col-sm-10 col-xl-4">
        <div class="section-feature-item">
          <div class="feature-thumb">
            <i class="fas fa-globe-americas"></i>
          </div>
          <div class="feature-content">
            <h3 class="title">សកល</h3>
            <p>
              យើងជាក្រុមហ៊ុនអន្តរជាតិដែលមានអតិថិជនមកពីប្រទេសផ្សេងៗគ្នាជុំវិញពិភពលោក។
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-10 col-xl-4">
        <div class="section-feature-item">
          <div class="feature-thumb">
            <i class="fab fa-btc"></i>
          </div>
          <div class="feature-content">
            <h3 class="title">គ្រីបតូ</h3>
            <p>
              វេទិការបស់យើងគាំទ្រគ្រប់ប្រភេទនៃ cryptocurrency
              ដែលមានប្រព័ន្ធវិនិយោគងាយស្រួល។
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-10 col-xl-4">
        <div class="section-feature-item">
          <div class="feature-thumb">
            <i class="fas fa-star-of-david"></i>
          </div>
          <div class="feature-content">
            <h3 class="title">អាចទុកចិត្តបាន។</h3>
            <p>
              យើង​មាន​ទំនុក​ចិត្ត​ខ្លាំង​ណាស់
              ព្រោះ​មនុស្ស​មួយ​ចំនួន​ធំ​ទុក​ចិត្ត​យើង។
              យើងធ្វើសេវាកម្មប្រកបដោយសុវត្ថិភាព និងសុវត្ថិភាព។
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-10 col-xl-4">
        <div class="section-feature-item">
          <div class="feature-thumb">
            <i class="fas fa-file-alt"></i>
          </div>
          <div class="feature-content">
            <h3 class="title">បញ្ជាក់</h3>
            <p>
              យើងជាក្រុមហ៊ុនដែលមានការបញ្ជាក់ធ្វើអាជីវកម្មស្របច្បាប់ក្នុងវិស័យច្បាប់។
              យើងធ្វើអាជីវកម្មអន្តរជាតិ។
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-10 col-xl-4">
        <div class="section-feature-item">
          <div class="feature-thumb">
            <i class="fas fa-lock"></i>
          </div>
          <div class="feature-content">
            <h3 class="title">សុវត្ថិភាព</h3>
            <p>
              យើងធ្វើការឥតឈប់ឈរលើការកែលម្អប្រព័ន្ធ និងកម្រិតសុវត្ថិភាពរបស់យើង
              ដើម្បីកាត់បន្ថយហានិភ័យដែលអាចកើតមាន។
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-10 col-xl-4">
        <div class="section-feature-item">
          <div class="feature-thumb">
            <i class="fas fa-wallet"></i>
          </div>
          <div class="feature-content">
            <h3 class="title">ចំណេញ</h3>
            <p>
              ពាណិជ្ជករដែលមានជំនាញវិជ្ជាជីវៈរបស់យើងនឹងប្រើប្រាស់ប្រាក់របស់អ្នក
              ធ្វើឱ្យប្រាកដថាទទួលបានប្រាក់ចំណេញល្អសម្រាប់អ្នក។
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="sec-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec"></div>
      </div>
    </div>
  </div>
</div>

<div class="call-to-action-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="call-to-action-content">
          <h2 class="title">ចូលរួមជាមួយយើង</h2>
          <p>ចង់ក្លាយជាផ្នែកមួយនៃសហគមន៍របស់យើង? ចូលរួមជាមួយយើងនៅថ្ងៃនេះ។</p>
          <div class="call-to-action-btn">
            <a href="/register" class="btn btn-danger">ចុះ​ឈ្មោះ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sec-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec"></div>
      </div>
    </div>
  </div>
</div>
<div class="faq-area padding-top padding-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="team-header">
          <h2 class="title">សំណួរ​ដែលគេ​ច្រើន​សួរ</h2>
          <p class="section-para mt-2">
            យើងឆ្លើយសំណួរដែលសួរញឹកញាប់របស់អ្នកមួយចំនួនទាក់ទងនឹងវេទិការបស់យើង។
            ប្រសិនបើអ្នកមានសំណួរដែលមិនត្រូវបានឆ្លើយនៅទីនេះ សូមមានអារម្មណ៍
            ឥតគិតថ្លៃដើម្បីទាក់ទងមកយើងខ្ញុំ។
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="main-page">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="heading52">
                <button
                  class="btn btn-link"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapse52"
                  aria-expanded="true"
                  aria-controls="collapse52"
                >
                  តើអ្វីជាសកម្មភាពចម្បងរបស់ក្រុមហ៊ុនវិនិយោគ?
                </button>
              </div>
              <div
                id="collapse52"
                class="collapse show"
                aria-labelledby="heading52"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  An&nbsp;investment company&nbsp;is a&nbsp;corporation&nbsp;or
                  trust engaged in the business of&nbsp;investing&nbsp;pooled
                  capital into financial securities.&nbsp;Investment
                  companies&nbsp;make profits by buying and selling shares,
                  property, bonds, cash, other funds and&nbsp;
                  <div>other assets.<br /></div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading51">
                <button
                  class="btn btn-link"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapse51"
                  aria-expanded="true"
                  aria-controls="collapse51"
                >
                  How is cooperation with investors implemented?
                </button>
              </div>
              <div
                id="collapse51"
                class="collapse"
                aria-labelledby="heading51"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Cooperation is maintained through our live chat feature. Also
                  we have mail service available to answer any kind of
                  query&nbsp;of yours.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading50">
                <button
                  class="btn btn-link"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapse50"
                  aria-expanded="true"
                  aria-controls="collapse50"
                >
                  How much can an investor request for withdrawal?
                </button>
              </div>
              <div
                id="collapse50"
                class="collapse"
                aria-labelledby="heading50"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Deposit and withdrawal are available for at any time. Be sure,
                  that your funds are not used in any ongoing trade before the
                  withdrawal. The available amount is shown in your dashboard on
                  the main page of Investing platform. Deposit and withdrawal
                  are available for at any time. Be sure, that your funds are
                  not used in any ongoing trade before the withdrawal. The
                  available amount is shown in your dashboard on the main page
                  of Investing platform.
                  <br />
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading49">
                <button
                  class="btn btn-link"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapse49"
                  aria-expanded="true"
                  aria-controls="collapse49"
                >
                  How to become a {{ domain }} Investment partner?
                </button>
              </div>
              <div
                id="collapse49"
                class="collapse"
                aria-labelledby="heading49"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Just follow some easy steps by clicking register button and
                  become a part of our community.<br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sec-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec"></div>
      </div>
    </div>
  </div>
</div>

<section class="logo-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <div class="section-header mb-5">
          <h2 class="title">We Accept Payment</h2>
          <p class="section-para">
            We accept all major cryptocurrencies and fiat payment methods to
            make your investment process easier with our platform.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <img
          src="/assets/images/gateway/1.png"
          alt="Snow"
          style="width: 100%"
        />
      </div>
      <div class="column">
        <img
          src="/assets/images/gateway/2.png"
          alt="Forest"
          style="width: 100%"
        />
      </div>
      <div class="column">
        <img
          src="/assets/images/gateway/5.png"
          alt="Mountains"
          style="width: 100%"
        />
      </div>
      <div class="column">
        <img
          src="/assets/images/gateway/WIRE.png"
          alt="Mountains"
          style="width: 100%"
        />
      </div>
    </div>
  </div>
</section>

<div class="subscribe-area" id="subscribe">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <div class="section-header">
          <h2 class="title">Subscribe Now</h2>
          <p class="section-para">
            Once you subscribe to our newsletter, we will send our promo offers
            and news to your email.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <form
          class="subscribe-form"
          action="https://{{ domain }}/subscribe"
          method="post"
        >
          <input
            type="hidden"
            name="_token"
            value="WkOTO14FUL9BN69T59gCmGikQHNQA7VR8Vf4CUYM"
          />
          <input
            type="email"
            name="email"
            placeholder="Subscribe your email"
            required
            value=""
          />
          <input
            type="submit"
            class="btn-default website-color"
            value="Subscribe"
          />
        </form>
      </div>
    </div>
  </div>
</div>

<div class="sec-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec"></div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
