{% extends "layouts/home.html" %}<!---->{% block title %} Welcome to a
Revolutionary Money Making Platform {% endblock title %}<!---->
{% block content %}<!---->
<div class="banner-area">
  <div id="particles-js"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="title py-5">Revolutionary Money Making Platform!</h1>
        <p class="pb-5">
          A reliable and professional company where you can invest your money
          and we will utilize it and offer you the best returns of your
          investment.
        </p>
        <a href="/register/" class="btn btn-default website-color mt-1 mb-1"
          >SIGN UP</a
        >
      </div>
      <div class="col-lg-6">
        <div class="coin_main">
          <img
            src="/assets/images/frontend/banner/5e664b3b4f1151583762235.png"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright">
    <a
      href="https://www.tradingview.com/markets/"
      rel="noopener"
      target="_blank"
      ><span class="blue-text">Markets</span></a
    >
    by TradingView
  </div>
  <script
    type="text/javascript"
    src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
    async
  >
    {
        "symbols": [{
            "proName": "FOREXCOM:SPXUSD",
            "title": "S&P 500"
        }, {
            "proName": "FOREXCOM:NSXUSD",
            "title": "US 100"
        }, {
            "proName": "FX_IDC:EURUSD",
            "title": "EUR/USD"
        }, {
            "proName": "BITSTAMP:BTCUSD",
            "title": "Bitcoin"
        }, {
            "proName": "BITSTAMP:ETHUSD",
            "title": "Ethereum"
        }],
        "showSymbolLogo": true,
        "colorTheme": "light",
        "isTransparent": false,
        "displayMode": "adaptive",
        "locale": "en"
    }
  </script>
</div>
<!-- TradingView Widget END -->
<div class="feature-section">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-8 text-center">
        <div class="section-header">
          <h2 class="title">Our Features</h2>
          <p>
            We will utilize your money providing a source of high income while
            minimizing the any possibility of risk in a very secure way.
          </p>
        </div>
      </div>
    </div>
    <div class="feature-wrapper d-flex flex-wrap">
      <div class="feature-area two">
        <div class="feature-item">
          <h5 class="subtitle">Reliable</h5>
          <p>
            A huge number of people trust us. We constantly work on improving
            our system and level of our security to minimize any potential
            risks.
          </p>
        </div>
        <div class="feature-item">
          <h5 class="subtitle">Comodo SSL</h5>
          <p>
            Comodo Essential-SSL Security encryption confirms that the presented
            content is genuine and legitimate.
          </p>
        </div>
        <div class="feature-item">
          <h5 class="subtitle">Registered Company</h5>
          <p>
            We are a certified company which conducts absolutely legal
            activities in the legal field. We are certified and safe.
          </p>
        </div>
      </div>
      <div class="feature-thumb pos-rel">
        <img src="/assets/templates/basic/images/feature.png" alt="feature" />

        <div class="coin-3">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-3 two">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-3 three">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-4">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-4 two">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-4 three">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-4 four">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>

        <div class="coin-3 bela two">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-3 bela three">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-4 bela">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-4 bela two">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-4 bela three">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
        <div class="coin-4 bela four">
          <img
            src="/assets/templates/basic/images/feature-coin.png"
            alt="footer"
          />
        </div>
      </div>
      <div class="feature-area">
        <div class="feature-item">
          <h5 class="subtitle">Quick Withdrawal</h5>
          <p>
            Our all retreats are treated spontaneously once requested. Our
            withdrawal has high maximum limits
          </p>
        </div>
        <div class="feature-item">
          <h5 class="subtitle">Strong Protection</h5>
          <p>
            Customer security is a big priority for us. We constantly work on
            improving our system and level of our security to minimize any
            potential risks.
          </p>
        </div>
        <div class="feature-item">
          <h5 class="subtitle">Protected Website</h5>
          <p>
            We are using one of the most experienced, professional, and trusted
            DDoS Protection and mitigation provider.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sec-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec"></div>
      </div>
    </div>
  </div>
</div>
<div class="counter-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <div class="section-header mb-5">
          <h2 class="title">Our Statistics</h2>
          <p class="section-para">Take a look at our user statistic</p>
        </div>
      </div>
    </div>

    <div class="counter-area">
      <div class="counter-wrapper">
        <div class="counter-item">
          <div class="counter-thumb bg-4">
            <i class="fab fa-stripe"></i>
          </div>
          <div class="counter-content">
            <div class="odo-area">
              <h3 class="odo-title odometer" data-odometer-final="204600800.08">
                5,000
              </h3>
            </div>
            <p>Total Deposited</p>
          </div>
        </div>
        <div class="counter-item">
          <div class="counter-thumb bg-4">
            <i class="fas fa-university"></i>
          </div>
          <div class="counter-content">
            <div class="odo-area">
              <h3 class="odo-title odometer" data-odometer-final="557576114.75">
                2,000
              </h3>
            </div>
            <p>Total Withdraw</p>
          </div>
        </div>
        <div class="counter-item">
          <div class="counter-thumb bg-4">
            <i class="fas fa-user-friends"></i>
          </div>
          <div class="counter-content">
            <div class="odo-area">
              <h3 class="odo-title odometer" data-odometer-final="343353">
                500
              </h3>
            </div>
            <p>Total User</p>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
<div class="sec-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec"></div>
      </div>
    </div>
  </div>
</div>

<div class="get-profit-section pos-rel">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <div class="section-header">
          <h2 class="title">How To Get Profit.</h2>
          <p class="section-para">
            We utilize your money and provide a source of high income.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-30-none">
      <div class="col-md-6 col-xl-3">
        <div class="profit-item">
          <div class="profit-thumb">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
          </div>
          <div class="profit-content">
            <h4 class="subtitle">Make Plan</h4>
            <p>
              Make a decision of the plan you like and think is the most
              profitable.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="profit-item">
          <div class="profit-thumb">
            <i class="fas fa-id-card"></i>
          </div>
          <div class="profit-content">
            <h4 class="subtitle">Create Account</h4>
            <p>Create a user profile for yourself using the register option.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="profit-item">
          <div class="profit-thumb">
            <i class="far fa-images"></i>
          </div>
          <div class="profit-content">
            <h4 class="subtitle">Choose Plan</h4>
            <p>Select the plan from our list of your liking and get started.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="profit-item">
          <div class="profit-thumb">
            <i class="fab fa-hornbill"></i>
          </div>
          <div class="profit-content">
            <h4 class="subtitle">Get Profit</h4>
            <p>
              Wait for us to utilize the money and return you a good profit.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sec-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec"></div>
      </div>
    </div>
  </div>
</div>
<div class="profit-calc">
  <div class="shape"></div>
  <div
    class="circle-2"
    data-paroller-factor="-0.30"
    data-paroller-factor-lg="0.60"
    data-paroller-type="foreground"
    data-paroller-direction="horizontal"
  >
    <img src="/assets/templates/basic/images/animation/08.png" alt="shape" />
  </div>
  <div
    class="circle-2 five"
    data-paroller-factor="-0.10"
    data-paroller-factor-lg="0.30"
    data-paroller-type="foreground"
    data-paroller-direction="horizontal"
  >
    <img src="/assets/templates/basic/images/animation/05.png" alt="shape" />
  </div>
  <div class="elepsis">
    <img src="/assets/templates/basic/images/footer/elepsis.png" alt="profit" />
  </div>
  <div class="man-coin">
    <img
      src="/assets/templates/basic/images/footer/man-coin.png"
      alt="profit"
    />
  </div>
  <div class="coin-only">
    <img
      src="/assets/templates/basic/images/footer/profit-coin.png"
      alt="profit"
    />
  </div>
  <div class="man-only">
    <img
      src="/assets/templates/basic/images/footer/profit-man.png"
      alt="profit"
    />
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <div class="section-header mb-5">
          <h2 class="title">Currency Converter</h2>
          <p class="section-para">
            The {{ domain }} Currency Converter tool helps you to convert
            cryptocurrency to your local currency and vice versa.
          </p>
        </div>
      </div>
    </div>

    <!-- Crypto Converter ⚡ Widget -->
    <crypto-converter-widget
      shadow
      symbol
      live
      background-color="#383a59"
      border-radius="1.50rem"
      fiat="united-states-dollar"
      crypto="bitcoin"
      amount="1"
      font-family="inherit"
      decimal-places="2"
    ></crypto-converter-widget
    ><a href="https://currencyrate.today/" target="_blank" rel="noopener"
      >CurrencyRate.Today</a
    >
    <script
      async
      src="https://cdn.jsdelivr.net/gh/dejurin/crypto-converter-widget@1.5.2/dist/latest.min.js"
    ></script>
    <!-- /Crypto Converter ⚡ Widget -->
  </div>
</div>

<div class="sec-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec"></div>
      </div>
    </div>
  </div>
</div>

<section class="investment-plan-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <div class="section-header mb-5">
          <h2 class="title">Best Investment Plans</h2>
          <p class="section-para">
            Take a look at our best investment plans where you will get the best
            profits.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="plan-area">
          <div class="plan-item">
            <div class="plan_name">Beginner plan</div>
            <div class="plan_day">20 %</div>
            <div class="plan_pr">Daily / 1 Times</div>

            <div>
              <ul>
                <li>
                  <span class="badge badge-success"
                    >Capital Will Return Back</span
                  >
                </li>
                <li>24/7Support</li>
              </ul>
            </div>

            <div class="plan_min">Min. $100 <span>Max: $999</span></div>

            <a
              href="#"
              data-toggle="modal"
              data-target="#depoModal"
              data-resource='{"id":1,"name":"Beginner plan","minimum":"100","maximum":"1000","fixed_amount":"0","interest":"5","interest_status":"1","times":"24","status":"1","featured":"1","capital_back_status":"1","lifetime_status":"0","repeat_time":"1","created_at":"2021-01-08T18:29:20.000000Z","updated_at":"2021-09-18T15:41:21.000000Z"}'
              class="btn btn-primary investButton"
              >Invest Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="plan-area">
          <div class="plan-item">
            <div class="plan_name">Professional plan</div>
            <div class="plan_day">40 %</div>
            <div class="plan_pr">3 DAYS / 1 Times</div>

            <div>
              <ul>
                <li>
                  <span class="badge badge-success"
                    >Capital Will Return Back</span
                  >
                </li>
                <li>24/7Support</li>
              </ul>
            </div>

            <div class="plan_min">Min. $1000 <span>Max: $4999</span></div>

            <a
              href="#"
              data-toggle="modal"
              data-target="#depoModal"
              data-resource='{"id":2,"name":"Amateur plan","minimum":"1000","maximum":"5000","fixed_amount":"0","interest":"10","interest_status":"1","times":"72","status":"1","featured":"1","capital_back_status":"1","lifetime_status":"0","repeat_time":"1","created_at":"2021-01-08T18:31:40.000000Z","updated_at":"2021-09-05T08:38:12.000000Z"}'
              class="btn btn-primary investButton"
              >Invest Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="plan-area">
          <div class="plan-item">
            <div class="plan_name">Expert plan</div>
            <div class="plan_day">15 %</div>
            <div class="plan_pr">60 DAYS / 1 Times</div>

            <div>
              <ul>
                <li>
                  <span class="badge badge-success"
                    >Capital Will Return Back</span
                  >
                </li>
                <li>24/7Support</li>
              </ul>
            </div>

            <div class="plan_min">Min. $5000 <span>Max: Unlimited</span></div>

            <a
              href="#"
              data-toggle="modal"
              data-target="#depoModal"
              data-resource='{"id":3,"name":"Advance plan","minimum":"5000","maximum":"10000","fixed_amount":"0","interest":"15","interest_status":"1","times":"240","status":"1","featured":"1","capital_back_status":"1","lifetime_status":"0","repeat_time":"1","created_at":"2021-01-27T12:09:50.000000Z","updated_at":"2021-09-05T08:39:01.000000Z"}'
              class="btn btn-primary investButton"
              >Invest Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="sec-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec"></div>
      </div>
    </div>
  </div>
</div>

<section class="padding feature-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <div class="section-header mb-5">
          <h2 class="title">Reason To Choose Us</h2>
          <p class="section-para">
            Our goal is to utilize our investors money and provide a source of
            high income for them while minimizing the any possibility of risk.
          </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mb-30-none">
      <div class="col-md-6 col-sm-10 col-xl-4">
        <div class="section-feature-item">
          <div class="feature-thumb">
            <i class="fas fa-globe-americas"></i>
          </div>
          <div class="feature-content">
            <h3 class="title">Global</h3>
            <p>
              We are an international company having client from different
              countries around the world.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-10 col-xl-4">
        <div class="section-feature-item">
          <div class="feature-thumb">
            <i class="fab fa-btc"></i>
          </div>
          <div class="feature-content">
            <h3 class="title">Crypto</h3>
            <p>
              Our platform supports all types of cryptocurrency having an easy
              investment system.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-10 col-xl-4">
        <div class="section-feature-item">
          <div class="feature-thumb">
            <i class="fas fa-star-of-david"></i>
          </div>
          <div class="feature-content">
            <h3 class="title">Reliable</h3>
            <p>
              We are very reliable as a huge number of people trust us. We
              conduct safe and secure services.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-10 col-xl-4">
        <div class="section-feature-item">
          <div class="feature-thumb">
            <i class="fas fa-file-alt"></i>
          </div>
          <div class="feature-content">
            <h3 class="title">Certified</h3>
            <p>
              We are a certified company doing legal business in the legal
              field. We operate international business.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-10 col-xl-4">
        <div class="section-feature-item">
          <div class="feature-thumb">
            <i class="fas fa-lock"></i>
          </div>
          <div class="feature-content">
            <h3 class="title">Secure</h3>
            <p>
              We constantly work on improving our system and level of our
              security to minimize any potential risks.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-10 col-xl-4">
        <div class="section-feature-item">
          <div class="feature-thumb">
            <i class="fas fa-wallet"></i>
          </div>
          <div class="feature-content">
            <h3 class="title">Profitable</h3>
            <p>
              Our professional traders will utilize your money making sure to
              get a good profit for you.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="sec-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec"></div>
      </div>
    </div>
  </div>
</div>

<div class="call-to-action-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="call-to-action-content">
          <h2 class="title">Join With Us</h2>
          <p>Want to be a part of our community? Join us today.</p>
          <div class="call-to-action-btn">
            <a href="register.html" class="btn btn-danger">SIGN UP</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sec-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec"></div>
      </div>
    </div>
  </div>
</div>
<div class="faq-area padding-top padding-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="team-header">
          <h2 class="title">Frequently Asked Questions</h2>
          <p class="section-para mt-2">
            We answer some of your Frequently Asked Questions regarding our
            platform. If you have a query that is not answered here, Please feel
            free to contact us.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="main-page">
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="heading52">
                <button
                  class="btn btn-link"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapse52"
                  aria-expanded="true"
                  aria-controls="collapse52"
                >
                  What is the main activity of an Investment company?
                </button>
              </div>
              <div
                id="collapse52"
                class="collapse show"
                aria-labelledby="heading52"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  An&nbsp;investment company&nbsp;is a&nbsp;corporation&nbsp;or
                  trust engaged in the business of&nbsp;investing&nbsp;pooled
                  capital into financial securities.&nbsp;Investment
                  companies&nbsp;make profits by buying and selling shares,
                  property, bonds, cash, other funds and&nbsp;
                  <div>other assets.<br /></div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading51">
                <button
                  class="btn btn-link"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapse51"
                  aria-expanded="true"
                  aria-controls="collapse51"
                >
                  How is cooperation with investors implemented?
                </button>
              </div>
              <div
                id="collapse51"
                class="collapse"
                aria-labelledby="heading51"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Cooperation is maintained through our live chat feature. Also
                  we have mail service available to answer any kind of
                  query&nbsp;of yours.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading50">
                <button
                  class="btn btn-link"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapse50"
                  aria-expanded="true"
                  aria-controls="collapse50"
                >
                  How much can an investor request for withdrawal?
                </button>
              </div>
              <div
                id="collapse50"
                class="collapse"
                aria-labelledby="heading50"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Deposit and withdrawal are available for at any time. Be sure,
                  that your funds are not used in any ongoing trade before the
                  withdrawal. The available amount is shown in your dashboard on
                  the main page of Investing platform. Deposit and withdrawal
                  are available for at any time. Be sure, that your funds are
                  not used in any ongoing trade before the withdrawal. The
                  available amount is shown in your dashboard on the main page
                  of Investing platform.
                  <br />
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="heading49">
                <button
                  class="btn btn-link"
                  type="button"
                  data-toggle="collapse"
                  data-target="#collapse49"
                  aria-expanded="true"
                  aria-controls="collapse49"
                >
                  How to become a {{ domain }} Investment partner?
                </button>
              </div>
              <div
                id="collapse49"
                class="collapse"
                aria-labelledby="heading49"
                data-parent="#accordionExample"
              >
                <div class="card-body">
                  Just follow some easy steps by clicking register button and
                  become a part of our community.<br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sec-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec"></div>
      </div>
    </div>
  </div>
</div>

<section class="logo-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <div class="section-header mb-5">
          <h2 class="title">We Accept Payment</h2>
          <p class="section-para">
            We accept all major cryptocurrencies and fiat payment methods to
            make your investment process easier with our platform.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <img
          src="/assets/images/gateway/1.png"
          alt="Snow"
          style="width: 100%"
        />
      </div>
      <div class="column">
        <img
          src="/assets/images/gateway/2.png"
          alt="Forest"
          style="width: 100%"
        />
      </div>
      <div class="column">
        <img
          src="/assets/images/gateway/5.png"
          alt="Mountains"
          style="width: 100%"
        />
      </div>
      <div class="column">
        <img
          src="/assets/images/gateway/WIRE.png"
          alt="Mountains"
          style="width: 100%"
        />
      </div>
    </div>
  </div>
</section>

<div class="subscribe-area" id="subscribe">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <div class="section-header">
          <h2 class="title">Subscribe Now</h2>
          <p class="section-para">
            Once you subscribe to our newsletter, we will send our promo offers
            and news to your email.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <form
          class="subscribe-form"
          action="https://{{ domain }}/subscribe"
          method="post"
        >
          <input
            type="hidden"
            name="_token"
            value="WkOTO14FUL9BN69T59gCmGikQHNQA7VR8Vf4CUYM"
          />
          <input
            type="email"
            name="email"
            placeholder="Subscribe your email"
            required
            value=""
          />
          <input
            type="submit"
            class="btn-default website-color"
            value="Subscribe"
          />
        </form>
      </div>
    </div>
  </div>
</div>

<div class="sec-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec"></div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
