{% extends "layouts/home.html" %}
<!---->{% block title %} Investment plans {% endblock title %}<!---->
{% block content %}

<div class="inner-banner-area">
  <div id="particles-js"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="title"><span>Investment Plan</span></h1>
      </div>
    </div>
  </div>
</div>

<div class="investment-plan-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-header mb-5">
          <h2 class="title text-center"></h2>
          <p class="section-para"></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="plan-area">
          <div class="plan-item">
            <div class="plan_name">Beginner plan</div>
            <div class="plan_day">20 %</div>
            <div class="plan_pr">Daily / 1 Times</div>

            <div>
              <ul>
                <li>
                  <span class="badge badge-success"
                    >Capital Will Return Back</span
                  >
                </li>
                <li>24/7Support</li>
              </ul>
            </div>

            <div class="plan_min">Min. $100 <span>Max: $999</span></div>

            <a
              href="#"
              data-toggle="modal"
              data-target="#depoModal"
              data-resource='{"id":1,"name":"Beginner plan","minimum":"100","maximum":"1000","fixed_amount":"0","interest":"5","interest_status":"1","times":"24","status":"1","featured":"1","capital_back_status":"1","lifetime_status":"0","repeat_time":"1","created_at":"2021-01-08T18:29:20.000000Z","updated_at":"2021-09-18T15:41:21.000000Z"}'
              class="btn btn-primary investButton"
              >Invest Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="plan-area">
          <div class="plan-item">
            <div class="plan_name">Professional plan</div>
            <div class="plan_day">40 %</div>
            <div class="plan_pr">3 DAYS / 1 Times</div>

            <div>
              <ul>
                <li>
                  <span class="badge badge-success"
                    >Capital Will Return Back</span
                  >
                </li>
                <li>24/7Support</li>
              </ul>
            </div>

            <div class="plan_min">Min. $1000 <span>Max: $4999</span></div>

            <a
              href="#"
              data-toggle="modal"
              data-target="#depoModal"
              data-resource='{"id":2,"name":"Amateur plan","minimum":"1000","maximum":"5000","fixed_amount":"0","interest":"10","interest_status":"1","times":"72","status":"1","featured":"1","capital_back_status":"1","lifetime_status":"0","repeat_time":"1","created_at":"2021-01-08T18:31:40.000000Z","updated_at":"2021-09-05T08:38:12.000000Z"}'
              class="btn btn-primary investButton"
              >Invest Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="plan-area">
          <div class="plan-item">
            <div class="plan_name">Expert plan</div>
            <div class="plan_day">60 %</div>
            <div class="plan_pr">10 DAYS / 1 Times</div>

            <div>
              <ul>
                <li>
                  <span class="badge badge-success"
                    >Capital Will Return Back</span
                  >
                </li>
                <li>24/7Support</li>
              </ul>
            </div>

            <div class="plan_min">Min. $5000 <span>Max: Unlimited</span></div>

            <a
              href="#"
              data-toggle="modal"
              data-target="#depoModal"
              data-resource='{"id":3,"name":"Advance plan","minimum":"5000","maximum":"10000","fixed_amount":"0","interest":"15","interest_status":"1","times":"240","status":"1","featured":"1","capital_back_status":"1","lifetime_status":"0","repeat_time":"1","created_at":"2021-01-27T12:09:50.000000Z","updated_at":"2021-09-05T08:39:01.000000Z"}'
              class="btn btn-primary investButton"
              >Invest Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sec-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec"></div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
