{% extends "layouts/home.html" %} {% block content %}

<div class="inner-banner-area">
  <div id="particles-js"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="title"><span>RULES &amp; REGULATION</span></h1>
      </div>
    </div>
  </div>
</div>

<div class="rules-area mb-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-header mb-5">
          <h2 class="title text-center">Rules</h2>
          <p class="section-para">
            Please read our rules and regulations before joining us.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="main-page main-page--style">
          <div class="card-body my-3">
            <p>
              <span class="rulse-number">1</span> You agree to be of legal age
              in your country to partake in this program, and in all the cases
              your minimal age must be 18 years.
            </p>
          </div>
          <div class="card-body my-3">
            <p>
              <span class="rulse-number">2</span> As a private transaction, this
              program is exempt from the US Securities Act of 1933, the US
              Securities Exchange Act of 1934 and the US Investment Company Act
              of 1940 and all other rules, regulations and amendments thereof.
              We are not FDIC insured. We are not a licensed bank or a security
              firm.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sec-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="sec"></div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
